
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tests</title>
   <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">
</head>
<body>
    <div class="navbar-test">
        <img  class="logo-test" src="{% static 'images/logo.png' %}" >
    </div>
    <div class="test-cotainer">
        <div class="test-content">
                <div class="test-card">
                    <div class="tcard-head">
                            English test
                    </div>

                    <div class="tcard-body">
                        <div class="doc-test">
                            <span class="h-text" >Total number:</span>
                            <span class="t-text" >50</span>
                        </div>

                        <div class="doc-test">
                            <span class="h-text" >Elementary:</span>
                            <span class="t-text" >20+</span>
                        </div>
                        <div class="doc-test">
                            <span class="h-text" >Pri-Intermediate:</span>
                            <span class="t-text" >30+</span>
                        </div>
                        <div class="doc-test">
                            <span class="h-text" >Intermediate:</span>
                            <span class="t-text" >40+</span>
                        </div>
                    </div>

                    <div class="tcard-footer">
                       <a href="{% url 'question' 1 %}" ><button class="btn-test" >Start</button></a>
                    </div>
                </div>

                <div class="test-card">
                    <div class="tcard-head">
                            Deutsch test
                    </div>

                    <div class="tcard-body">
                        <div class="doc-test">
                            <span class="h-text" >Gesamtzahl:</span>
                            <span class="t-text" >120</span>
                        </div>

                        <div class="doc-test">
                            <span class="h-text" >A1:</span>
                            <span class="t-text" >30+</span>
                        </div>
                        <div class="doc-test">
                            <span class="h-text" >A2:</span>
                            <span class="t-text" >40+</span>
                        </div>
                        <div class="doc-test">
                            <span class="h-text" >B1:</span>
                            <span class="t-text" >50+</span>
                        </div>
                    </div>

                    <div class="tcard-footer">
                        <a href="{% url 'question' 2  %}" ><button class="btn-test" >Start</button></a>
                     </div>
                </div>
        </div>
    </div>
</body>
</html>