{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--
    - primary meta tag
  -->
  <title>Level Up Academy</title>
  <meta name="title" content="Level Up Academy">
  <meta name="description" content="Welcome to next level">

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="png">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">


  <!--
    - google font link
  -->
  <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
  <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">

  <!--
    - preload images
  -->


</head>

<body id="top">

  <!--
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="{% static 'images/logo.png' %}" width="80" height="50" alt="LevelUp Logo">
      </a>

      <nav class="navbar" data-navbar>

        <div class="wrapper">
          <a href="#" class="logo">
            <img src="{% static 'images/logo.png' %}" width="50" height="25" alt="LevelUp logo">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#home" class="navbar-link" data-nav-link>Asosiy</a>
          </li>

          <li class="navbar-item">
            <a href="#advantage" class="navbar-link" data-nav-link>Afzalliklar</a>
          </li>
          <li class="navbar-item">
            <a href="#about" class="navbar-link" data-nav-link>Haqida</a>
          </li>

          <li class="navbar-item">
            <a href="#courses" class="navbar-link" data-nav-link>Kurslar</a>
          </li>

          <li class="navbar-item">
            <a href="#team" class="navbar-link" data-nav-link>Jamoa</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'oferta' %}" class="navbar-link" data-nav-link>Oferta</a>
          </li>
          <li class="navbar-item">
            <span id="l-link"  href="#footer" class="navbar-link" >
             <div  class="def-lang"  >UZ<img src="{% static 'images/uz.png' %}" alt="uz"> </div>
              <div class="box-lang">
                <a href="{% url 'english' %}"><div class="set-lang" >ENG <img src="{% static 'images/eng.png' %}" alt="eng"> </div></a>
                <a href="{%  url 'german' %}"><div class="set-lang" >GER <img src="{% static 'images/ger.png' %}" alt="ger"> </div></a>
               
              </div>
              
            </span>
          </li>
        </ul>

      </nav>

      <div class="header-actions">



        <a href="#register" class="btn has-before">
          <span class="span">Birinchi darsga yozilish</span>

          <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
        </a>

        <button class="header-action-btn" aria-label="open menu" data-nav-toggler>
          <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>

      </div>

      <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
  </header>





  <main>
    <article>

      <!--
        - #HERO
      -->

      <section  class="section  wrapper-one hero has-bg-image" id="home" aria-label="home"
        >

        <div class="container">

          <div class="hero-content">

            <h1 class="h1 section-title">
              Welcome to <span class="span">Next Level</span>
            </h1>

            <p class="hero-text">
              Learn today, succeed tomorrow!
            </p>

            <a href="{% url 'test' %}" class="btn has-before">
              <span class="span">Test</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>

          </div>



        </div>
      </section>





      <!--
        - #CATEGORY
      -->

      <section class="section advantage" id="advantage" aria-label="advantage">
        <div class="container">

          <p class="section-subtitle">afzalliklar</p>

          <h2 class="h2 section-title">
            Nega bizni tanlash kerak ?
          </h2>

          <p  class="section-text">
            Har bir o'quvchi quydagi afzalliklarga ega bo'ladi.
          </p>

          <ul class="grid-list">



            <li>
              <div class="category-card  card" style="--color: 229, 75%, 58%">

                <div class="card-icon">
                  <img src="{% static 'images/3009952.png' %}" width="40" height="40" loading="lazy"
                    alt="Non-Degree Programs" class="img">
                </div>

                <h3 class="h3">
                  <a style="color: #FFF;" href="#" class="card-title">Bepul co-working hududlar</a>
                </h3>

                <p style="color: #FFF;" class="card-text">
                  Level Upda siz uchun shinam co-working hududlar yaratilgan
                </p>



              </div>
            </li>

            <li>
              <div class="category-card card" style="--color: 229, 75%, 58%">

                <div class="card-icon">
                  <img style="color: #FFF;" src="{% static 'images/webinar.png' %}" width="40" height="40" loading="lazy"
                    alt="Hybrid Distance Programs" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" style="color: #FFF;" class="card-title">Darsliklar o'quv markaz tomonidan bepul taqdim etiladi.</a>
                </h3>

                <p style="color: #FFF;" class="card-text">
                  Zamovaviy darsliklar va kitoblar
                </p>



              </div>
            </li>


            <li>
              <div class="category-card card " style="--color: 229, 75%, 58%">

                <div class="card-icon">
                  <img src="{% static 'images/classroom.png' %}" width="40" height="40" loading="lazy"
                    alt="Off-Campus Programs" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" style="color: #FFF;" class="card-title">Qo'shimcha ustoz bilan bepul darslar</a>
                </h3>

                <p style="color: #FFF;" class="card-text">
                  Bizning qo’shimcha ustozlarimiz sizga yordam berishga doim tayyor
                </p>



              </div>
            </li>

            <li>
              <div class="category-card card" style="--color: 229, 75%, 58%">

               <div class="card-icon">
                  <img src="{% static 'images/location1.png' %}" width="40" height="40" loading="lazy"
                    alt="Online Degree Programs" class="img">
                </div>

                <h3 class="h3">
                  <a href="#" style="color: #FFF;" class="card-title">Ta'lim uchun qulay joylashuv</a>
                </h3>

                <p style="color: #FFF;" class="card-text">
                  Bizning Adnijon shahrida qulay hududda joylashgan 2 ta filialimiz mavjud
                </p>
</div>
            </li>
          </ul>

        </div>
      </section>





      <!--
        - #ABOUT
      -->

      <section class="section" id="about" aria-label="about">
        <div class="about-container">
          <p class="section-subtitle">Biz haqimizda</p>

          <h2 class="h2 section-title">
            Biz haqimizda
          </h2>

          <p class="section-text">

          </p>
          <div class="about-content">

            <div class="one-about" >
            <b class="about-text" >
              Globallashgan dunyoda bir nechta tillarda gaplasha olish juda muhimdir. Til maktabimiz talabalarga nemis va ingliz tillarini o'rganish va zabt etishga yordam berishni o'z oldiga maqsad qilib qo'ygan. Malakali o'qituvchilarning bag'ishlangan jamoasi va o'ziga xos o'rganish yondashuvi bilan biz til o'rganish uchun ilhomlantiruvchi muhit yaratamiz.

            </b>
             <p class="about-text" >
               1. <b> Noyob o'qituvchilar jamoasi</b>:

Bizning maktabimiz nafaqat nemis va ingliz tillari bo'yicha mutaxassislar, balki o'qituvchilik va talabalar muvaffaqiyatiga ishtiyoqi bo'lgan yuqori malakali va g'ayratli o'qituvchilar jamoasiga ega. Har bir o'qituvchi talabalarga har tomonlama o'rganish tajribasini taqdim etish uchun o'ziga xos nuqtai nazar va metodologiyani olib keladi.

             </p>
              <p class="about-text" >
                2. <b>Intensiv nemis tili kurslari</b>:

Bizning nemis tili kurslarimiz talabalarga nemis tilini oson o'zlashtirish yo'lida hamrohlik qilish uchun mo'ljallangan. Boshlang'ich kurslardan tortib to yuqori darajali kurslargacha talabalarga til ko'nikmalarini oshirishga imkon beruvchi keng imkoniyatlarni taklif etamiz. Kichik sinflar individual e'tiborni rivojlantiradi va o'quvchilarning faol ishtirokini ta'minlaydi.

              </p>
              <p class="about-text" >
                3.<b>Barcha darajalar uchun ingliz tili</b>:

Boshlang'ich yoki yuqori darajali ingliz tili darslarimiz talabalarni ingliz tili asosiy rol o'ynaydigan dunyoga tayyorlash uchun mo'ljallangan. Innovatsion o'qitish usullari, kommunikativ faoliyat va real til ilovalari orqali biz nafaqat grammatik aniqlikni, balki og'zaki muloqot ko'nikmalarini ham targ'ib qilamiz.

              </p>
              <p class="about-text" >
                4.<b>Madaniy immersion</b>:

Til shunchaki grammatika va lug'at emas; bu madaniyatga bir oynadir. Maktabimiz o‘quvchilarga tillar haqida to‘liq tushuncha berish uchun madaniyat elementlarini darslarga kiritadi. Madaniy tadbirlardan tortib, interfaol loyihalargacha, biz sinfdan tashqariga chiqadigan o'quv muhitini yaratamiz.

              </p>

<p class="about-text" >
  5.<b>Zamonaviy ta’lim resurslari</b>:

Talabalar til sayohati uchun eng yaxshi resurslarga ega bo'lishini ta'minlash uchun maktabimiz doimiy ravishda eng yangi texnologiyalar va o'quv vositalariga sarmoya kiritadi. Interfaol ta'lim platformalari, multimedia resurslari va raqamli o'quv vositalari an'anaviy o'qitish usullarini qo'llab-quvvatlaydi va turli xil o'quv muhitini taklif qiladi.

</p>
<p class="about-text" >
  6.<b>Hamjamiyat va yordam</b>:

Biz tushunamizki, til o‘rganish eng yaxshi qo‘llab-quvvatlovchi jamiyatda amalga oshiriladigan sayohatdir. Bizning maktabimiz o'qish qiziqarli va muvaffaqiyatlar birgalikda nishonlanadigan jamiyat tuyg'usini yaratish uchun talabalar o'rtasida almashinuvni targ'ib qiladi.

</p>
              <p class="about-text" >
                <b>Bizning til maktabimiz shunchaki o'rganish joyi emas; bu yangi urflar, madaniyatlar va imkoniyatlar uchun ko'prikdir. Biz nemis va ingliz tillarining qiziqarli dunyolarini kashf qilishni xohlovchilarning barchasini bizning yetuk va sodiq til hamjamiyatimizga qo'shilishga taklif qilamiz. Tillar jonlanadigan til maktabimizga xush kelibsiz!</b>
              </p>
            </div>

          </div>

        </div>

      </section>






      <!--
        - #COURSE
      -->

      <section class="section course" id="courses" aria-label="course">
        <div class="container">

          <p class="section-subtitle">Kurslar</p>

          <h2 class="h2 section-title">O'zingizga mos kursni tanlang</h2>
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">
                {% for course in courses %}
                <div class="course-card swiper-slide">

                  <figure class="card-banner img-holder" style="--width: 370; --height: 220;">

                    <img src="{% static 'images/white4.jpg' %}" width="370" height="220" loading="lazy"
                      alt="Build Responsive Real- World Websites with HTML and CSS" class="img-cover">
                  </figure>

                  <div class="abs-badge">
                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                    <span class="span">{{ course.month|get_digit:0 }} oy</span>
                  </div>

                  <div class="card-content">

                    <span style="padding: 10px"   class="badge"><h2>{{ course.name }}</h2></span>


                    <div style="text-align: center;" class="wrapper">
                      {{ course.title }}
                    </div>




                    <ul class="card-meta-list">

                      <li class="card-meta-item">


                        <span class="span">2 hours</span>
                      </li>

                      <li class="card-meta-item">


                        <span class="span">{{ course.price|cut:".0" }} </span>
                      </li>

                    </ul>

                  </div>

                </div>
                 {% endfor %}

              </div>
            </div>

            <div class="swiper-button-next swiper-nav-btn"></div>
            <div class="swiper-button-prev swiper-nav-btn"></div>
            <div class="swiper-pagination"></div>
          </div>




            </section>

          </div>




        </div>
      </section>





      <!--
        - #REGISTER
      -->
      <section class="section" id="register" aria-label="register">
        <div class="about-container">
          <p class="section-subtitle">Ro'yxatdan o'tish</p>

          <h2 class="h2 section-title">
            Hoziroq ro'yxatdan o'ting
          </h2>

        </div>
        <div class="container">
          <div>

            <div class="form-title">
              <div class="inner">

                <form method="post">
                  {% csrf_token %}
                  <h3>Ro'yxatdan o'tish</h3>
                  <div class="form-holder">

                    <input required name="name" type="text" class="form-control" placeholder="Ism Familiya">
                  </div>
                  <div class="form-holder">

                    <input name="phone_number" required type="text" class="form-control" placeholder="Telefon raqam">
                  </div>
                  <div class="form-holder">

                    <input name="email" type="email" class="form-control" placeholder="Email">
                  </div>
                  <div  class="form-holder">
                    <select  required class="course-select form-control" name="course" id="">
                      {% for course in courses %}
                      <option class="course-option form-control"  value="{{ course.name }}">{{ course.name }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <button type="submit" class="button-reg">
                    <span>Yuborish</span>
                  </button>
                </form>
                <img style="margin-left: 15px;" src="{% static 'images/image-2.png' %}" alt="" class="image-2">
              </div>
            </div>
          </div>


        </div>
      </section>






      <!--
        - #STATE
      -->



      <!--
        - #TEAM
      -->

      <section class="section course" id="team" aria-label="team">
        <div class="container">

          <p class="section-subtitle">Jamoa</p>

          <h2 class="h2 section-title">Bizning profisianal jamoa</h2>
          <div id="Carousel-slider">
            <section>
              <div class="Carousel-slider">
                <!-- Background Images div -->

                <div class="slider-item" data-href="#">
                  <div class="">

                    <img class="img " src="{% static 'images/avatar-5.png' %}" alt="">
                  </div>
                </div>
                <div class="slider-item" data-href="#">
                  <div class="">

                    <img class="img " src="{% static 'images/avatar-3.png' %}" alt="">
                  </div>
                </div>
                <div class="slider-item" data-href="#">
                  <div class="">

                    <img class="img " src="{% static 'images/avatar-4.png' %}" alt="">
                  </div>
                </div>
                <div class="slider-item" data-href="#">
                  <div class="">

                    <img class="img " src="{% static 'images/avatar-2.png' %}" alt="">
                  </div>
                </div>
                <div class="slider-item" data-href="#">
                  <div class="">

                    <img class="img " src="{% static 'images/avatar-4.png' %}" alt="">
                  </div>
                </div>


                <!-- Background Images div End -->
              </div>
            </section>
          </div>



        </div>
      </section>



    </article>
  </main>





  <!--
    - #FOOTER
  -->

  <footer  class="footer" style="background-image: url({% static 'images/footer-bg.png' %}")>

    <div id="footer" class="footer-top section">
      <div class="container grid-list">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{% static 'images/logo.png' %}" width="50" height="25" alt="LevelUp logo">
          </a>



          <div class="wrapper">
            <span class="span">Address:</span>

            <address class="address">Andijan</address>
          </div>

          <div class="wrapper">
            <span class="span">Call:</span>

            <a href="tel:+998951100014" class="footer-link">+998 95 110 00 14</a>
          </div>


          <div class="wrapper">
            <span class="span">Email:</span>

            <a href="mailto:levelupacademyuz1@gmail.com" class="footer-link">levelupacademyuz@gmail.com</a>
          </div>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Online Platform</p>
          </li>

          <li>
            <a href="#about" class="footer-link">About</a>
          </li>

          <li>
            <a href="#courses" class="footer-link">Courses</a>
          </li>

          <li>
            <a href="" class="footer-link">Instructor</a>
          </li>

          <li>
            <a href="" class="footer-link">Events</a>
          </li>





        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Links</p>
          </li>

          <li>
            <a href="" class="footer-link">Contact Us</a>
          </li>

          <li>
            <a href="" class="footer-link">Gallery</a>
          </li>

          <li>
            <a href="" class="footer-link">News & Articles</a>
          </li>

          <li>
            <a href="" class="footer-link">FAQ's</a>
          </li>

          <li>
            <a href="{% url 'login' %}" class="footer-link">Sign In/Registration</a>
          </li>

          <li>
            <a href="" class="footer-link">Coming Soon</a>
          </li>

        </ul>

        <div class="footer-list">

          <p class="footer-list-title">Contacts</p>



          <ul class="social-list">

            <li>
              <a href="" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          Copyright 2023 All Rights Reserved by <a href="#" class="copyright-link">Level Up</a>
        </p>

      </div>
    </div>

  </footer>





  <!--
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back top top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>





  <!--
    - custom js link
  -->
  <script src="{% static 'js/script.js' %}" defer></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/micro-slider@1.0.9/dist/micro-slider.min.js"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</body>

</html>